PUBLIC_SITE_URL=https://blokkit.cl
PUBLIC_GOOGLE_SITE_VERIFICATION=
PUBLIC_BING_SITE_VERIFICATION=
PUBLIC_FACEBOOK_DOMAIN_VERIFICATION=
PUBLIC_GTM_ID=
PUBLIC_GA_MEASUREMENT_ID=
PUBLIC_TWITTER_HANDLE=@blokkit_cl

# Contact form (Mail Relay API)
MAILRELAY_API_BASE_URL=https://blokkit.ipzmarketing.com/api/v1
MAILRELAY_API_TOKEN=
MAILRELAY_FROM_EMAIL=
MAILRELAY_FROM_NAME=BloKKit Web
CONTACT_FORM_TO_EMAIL=hola@blokkit.cl
